---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$mint-green:       #EEFFE8;
$mint-green-light: lighten($mint-green, 40%);
$mint-green-dark: darken($mint-green, 10%);
$darker-green:     #8AA36D;
$brown:            #66574B;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

body{
        background: $mint-green;
        background-color: $mint-green
}
h1, h2, h3 {
  color: $brown;
}

.btn, input[type="submit"] {
    background-color: $mint-green; 
    font-weight: bold; 
    color: $brown; 
    text-decoration: none;
    padding: 22px 14px;
    border: solid 1px #66574B;
    cursor: pointer;
    border-radius: 0.75rem;
}

.btn:hover {
        color: $darker-green;
        border: solid 1px $darker-green;     
        padding: 24px 16px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;
